<ng-container *ngIf="proyecto">
  <section
    class="u-align-center u-black u-clearfix u-section-3"
    id="carousel_2e11">
    <div class="u-align-left u-expanded-width u-shape u-white u-shape-1"></div>
    <div class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
      <div class="u-gutter-0 u-layout">
        <div class="u-layout-row">
          <div class="u-size-30 u-size-60-md">
            <div class="u-layout-row">
              <div
                class="u-container-style u-image u-layout-cell u-left-cell u-size-60 u-image-1"
                [ngStyle]="{
                'background-image':
                  'url(./assets/images/historia/sun.png) , url(' + proyecto.imagen + ')'
              }">
                <div class="u-container-layout"></div>
              </div>
            </div>
          </div>
          <div class="u-size-30 u-size-60-md">
            <div class="u-layout-col">
              <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-60 u-layout-cell-2">
                <div class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-top-xs u-container-layout-2">
                  <h2 class="u-text u-text-body-color u-text-1">


                    <!-- The firm creates <b>sustainable</b> buildings and
                <b>spaces</b> -->
                    {{proyecto.name}}
                  </h2>
                  <p class="u-text u-text-body-color u-text-2">
                    ¿Interesado en una proyecto similar?
                    ¡Toca el ícono de Whatsapp y contácte con nosotros!
                  </p>
                  <a
                    href="#fotos"
                    class="u-black u-border-2 u-border-white u-btn u-button-style u-btn-1">
                    Ver fotos
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section
    class="u-align-center u-clearfix u-section-5"
    id="carousel_fa9e">
    <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-sheet-1">
      <div class="u-expanded-width u-tab-links-align-justify u-tabs u-tabs-1">
        <ul
          class="u-border-1 u-border-grey-25 u-tab-list u-unstyled"
          role="tablist">
          <li
            class="u-tab-item"
            role="presentation">
            <a
              class="active u-active-white u-border-2 u-border-active-black u-border-grey-40 u-border-hover-grey-15 u-border-no-left u-border-no-right u-border-no-top u-button-style u-tab-link u-text-active-black u-text-grey-40 u-text-hover-black u-tab-link-1"
              id="link-tab-0da5"
              href="#tab-0da5"
              role="tab"
              aria-controls="tab-0da5"
              aria-selected="true">
              Descripción
            </a>
          </li>
          <li
            class="u-tab-item"
            role="presentation">
            <a
              class="u-active-white u-border-2 u-border-active-black u-border-grey-40 u-border-hover-grey-15 u-border-no-left u-border-no-right u-border-no-top u-button-style u-tab-link u-text-active-black u-text-grey-40 u-text-hover-black u-tab-link-2"
              id="link-tab-14b7"
              href="#tab-14b7"
              role="tab"
              aria-controls="tab-14b7"
              aria-selected="false">
              Especificaciones
            </a>
          </li>

        </ul>
        <div class="u-tab-content">
          <div
            class="u-container-style u-tab-active u-tab-pane u-white u-tab-pane-1"
            id="tab-0da5"
            role="tabpanel"
            aria-labelledby="link-tab-0da5">
            <div class="u-container-layout u-valign-top u-container-layout-1">
              <img
                alt
                class="u-expanded-width-xs u-image u-image-default u-image-1"
                data-image-width="864"
                data-image-height="1080"
                [src]="proyecto.fotos[0]">
              <h4 class="u-text u-text-1">Description</h4>
              <p class="u-text u-text-grey-40 u-text-2" [innerHTML]="proyecto.descripcion">

              </p>
            </div>
          </div>
          <div
            class="u-align-left u-container-style u-tab-pane u-white u-tab-pane-2"
            id="tab-14b7"
            role="tabpanel"
            aria-labelledby="link-tab-14b7">
            <div class="u-container-layout u-valign-top u-container-layout-2">
              <ul class="u-text">
                <li>
                  <div class="class u-list-icon"></div>
                  Ubicación : {{proyecto.ubicacion}}
                </li>
                <li>
                  <div class="class u-list-icon"></div>
                  Area terreno: {{proyecto.area_terreno}}m²
                </li>
                <li>
                  <div class="class u-list-icon"></div>
                  Área construida: {{proyecto.area_construida}}m²
                </li>
                <li>
                  <div class="class u-list-icon"></div>
                  Número de pisos: {{proyecto.numero_pisos}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section
    class="u-align-center u-clearfix u-section-6"
    id="fotos">
    <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-show-text-on-hover u-gallery-1">
      <div
        class="u-gallery-inner u-gallery-inner-1"
        ngxViewer>

        <img
          class="u-back-image clickable"
          *ngFor="let foto of proyecto.fotos"
          [src]="foto">
      </div>
    </div>
  </section>

</ng-container>
