<app-header></app-header>
<router-outlet></router-outlet>

<!-- CONTACTO -->
<!-- <section
  class="u-align-left u-clearfix u-grey-10 u-section-7"
  id="carousel_d62d"
>
  <div class="u-clearfix u-sheet u-sheet-1">
    <h3 class="u-text u-text-default u-text-1">Get <b>in touch</b></h3>
    <p class="u-text u-text-2">
      Etiam sit amet convallis erat – class aptent taciti sociosqu ad litora
      torquent per conubia! Maecenas gravida lacus. Lorem etiam sit amet
      convallis erat.
    </p>
    <div class="u-form u-form-1">
      <form
        action="#"
        method="POST"
        class="u-clearfix u-form-spacing-20 u-form-vertical u-inner-form"
        style="padding: 0"
        source="email"
        name="form"
      >
        <div
          class="u-form-group u-form-partition-factor-3 u-form-phone u-form-group-1"
        >
          <label for="phone-e90c" class="u-form-control-hidden u-label"
            >Phone</label
          >
          <input
            type="tel"
            pattern="\+?\d{0,2}[\s\(\-]?([0-9]{3})[\s\)\-]?([\s\-]?)([0-9]{3})[\s\-]?([0-9]{2})[\s\-]?([0-9]{2})"
            placeholder="Enter your phone (e.g. +14155552675)"
            id="phone-e90c"
            name="phone"
            class="u-input u-input-rectangle u-white"
            required=""
          />
        </div>
        <div
          class="u-form-email u-form-group u-form-partition-factor-3 u-form-group-2"
        >
          <label for="email-f18c" class="u-form-control-hidden u-label"
            >Email</label
          >
          <input
            type="email"
            placeholder="Enter a valid email address"
            id="email-f18c"
            name="email"
            class="u-input u-input-rectangle u-white"
            required=""
          />
        </div>
        <div
          class="u-form-group u-form-name u-form-partition-factor-3 u-form-group-3"
        >
          <label for="name-f18c" class="u-form-control-hidden u-label"
            >Name</label
          >
          <input
            type="text"
            placeholder="Enter your Name"
            id="name-f18c"
            name="name"
            class="u-input u-input-rectangle u-white"
            required=""
          />
        </div>
        <div class="u-form-group u-form-message u-form-group-4">
          <label for="message-71f0" class="u-form-control-hidden u-label"
            >Message</label
          >
          <textarea
            placeholder="Enter your message"
            rows="4"
            cols="50"
            id="message-71f0"
            name="message-1"
            class="u-input u-input-rectangle u-white"
            required=""
          ></textarea>
        </div>
        <div class="u-align-left u-form-group u-form-submit u-form-group-5">
          <a href="#" class="u-black u-btn u-btn-submit u-button-style u-btn-1"
            >Submit</a
          >
          <input type="submit" value="submit" class="u-form-control-hidden" />
        </div>
        <div class="u-form-send-message u-form-send-success">
          Thank you! Your message has been sent.
        </div>
        <div class="u-form-send-error u-form-send-message">
          Unable to send your message. Please fix errors then try again.
        </div>
        <input type="hidden" value="" name="recaptchaResponse" />
      </form>
    </div>
  </div>
</section> -->
<a
  href="https://api.whatsapp.com/send?phone=51978100062&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n."
  class="float"
  target="_blank">
  <i class="fa fa-whatsapp my-float"></i>
</a>

<app-footer></app-footer>
