<section
  class="u-clearfix u-image u-section-1"
  id="carousel_f6e3">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-black u-container-style u-expanded-width-xs u-group u-group-1">
      <div class="u-container-layout u-valign-middle u-container-layout-1">
        <h2 class="u-text u-text-default u-text-1">
            <p class="ko-font-1 papel">Tus sueños
              <span class="ko-font-2 font-size-24 lowercase">en papel</span>
            </p>
            <p class="ko-font-2 font-size-24 lowercase concreto">y
              <span class="ko-font-1 font-size-48 uppercase">CONCRETO</span>
            </p>
        </h2>
        <!-- <h5 class="u-text u-text-default u-text-2">
          Apartments & Villas
        </h5> -->
        <p class="u-text u-text-default u-text-3">
          <span class="ko-font-1 font-size-18">
            Ko - Sama arquitectos EIRL.
          </span>
          <span>es una empresa formada por un grupo humano con la capacidad profesional marcada por la experiencia y trayectoria con más de 20 años y las nuevas tendencias del rubro Arquitectura - Construcción <br>
          Orientados a llenar y satisfacer las expectativas de nuestros clientes.
          </span>
        </p>
        <!-- <a
          href="https://nicepage.com/html-templates"
          class="u-border-2 u-border-white u-btn u-btn-round u-button-style u-none u-radius-30 u-btn-1">
          read more
        </a> -->
      </div>
    </div>
  </div>
</section>
<section
  class="u-align-center u-clearfix u-grey-10 u-section-2"
  id="carousel_74a7">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-col">
          <div class="u-size-20">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-left-cell u-size-18 u-layout-cell-1">
                <div class="u-container-layout u-valign-bottom-xs u-container-layout-1">
                  <h3 class="u-text u-text-default u-text-1">Concept</h3>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-right-cell u-size-42 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <p class="u-text u-text-default u-text-2">
                    Sample text. Click to select the text box. Click again or
                    double click to start editing the text.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="u-size-20">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-left-cell u-size-18 u-layout-cell-3">
                <div class="u-container-layout u-valign-top u-container-layout-3">
                  <h3 class="u-text u-text-default u-text-3">
                    Marketing
                  </h3>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-right-cell u-size-42 u-layout-cell-4">
                <div class="u-container-layout u-container-layout-4">
                  <p class="u-text u-text-default u-text-4">
                    Sample text. Click to select the text box. Click again or
                    double click to start editing the text.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="u-size-20">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-left-cell u-size-18 u-layout-cell-5">
                <div class="u-container-layout u-valign-top u-container-layout-5">
                  <h3 class="u-text u-text-default u-text-5">Analytics</h3>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-right-cell u-size-42 u-layout-cell-6">
                <div class="u-container-layout u-container-layout-6">
                  <p class="u-text u-text-default u-text-6">
                    Sample text. Click to select the text box. Click again or
                    double click to start editing the text.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  id="categorias"
  data-source="Blank"
  data-id="1c10">
  <div
    class="u-clearfix u-sheet u-block-1c10-2"
    style="min-height: 500px">
    <h3
      class="u-text u-text-default u-block-control u-block-1c10-3"
      style="font-weight: 300;
        font-size: 3rem;
        letter-spacing: 2px;
        text-transform: none;
        margin-top: 0;
        margin-right: auto;
        margin-bottom: 0;
        margin-left: 0;"
      data-block="28">
      Categorias
    </h3>
    <div
      class="u-blog u-expanded-width u-block-control u-block-1c10-5"
      style="margin-top: 60px;
        margin-right: auto;
        margin-bottom: 0;
        margin-left: 0;"
      data-block="30"
      data-block-parent-selected="true"
      data-block-type="Blog">
      <div
        class="u-repeater u-block-control u-block-1c10-6 categoria-grid"
        data-block="31"
        data-block-type="Blog"
        data-block-selected="true">
        <div
          class="u-align-left u-blog-post u-container-style u-repeater-item u-shape-rectangle u-block-control u-block-1c10-7"
          data-blog-post-id="6"
          style
          data-block="32"
          data-block-type="BlogPost"
          *ngFor="let categoria of categorias">
          <div
            class="u-container-layout u-similar-container u-valign-bottom u-block-1c10-8"
            style="padding-top: 0;
              padding-left: 0;
              padding-right: 0;
              padding-bottom: 30px;"
            data-container-layout-dom="8">
            <img
              alt
              class="u-blog-control u-expanded-width u-image u-image-default u-block-control u-block-1c10-9 clickable img-proyecto"
              [src]="categoria.imagen"
              data-image-width="809"
              data-image-height="1080"
              style="height: 301px;
                margin-top: 0;
                margin-right: auto;
                margin-bottom: 0;
                margin-left: 0;"
              data-block="33"
              [routerLink]="['/categoria/' ,categoria.id]"
              data-block-type="PostImage">
            <h4
              class="u-blog-control u-text u-block-control u-block-1c10-10"
              style="margin-top: 17px;
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 0;"
              data-block="34">
              <a
                class="u-post-header-link"
                [routerLink]="['/categoria/' ,categoria.id]">
                {{categoria.name}}
              </a>
            </h4>
            <a
              [routerLink]="['/categoria/' ,categoria.id]"
              class="u-blog-control u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-black u-text-hover-white u-block-control u-block-1c10-12"
              style="border-style: solid;
                font-weight: 700;
                text-transform: uppercase;
                margin-top: 20px;
                margin-right: auto;
                margin-bottom: 0;
                margin-left: 0;"
              data-block="36">
              Ver más
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
