/* You can add global styles to this file, and also import other style files */
@import "~viewerjs/dist/viewer.css";
@media (max-width: 0px) {
  .u-block-1c10-2 {
    min-height: 500px;
  }
  .u-block-1c10-3 {
    font-weight: 300;
    font-size: 3rem;
    letter-spacing: 2px;
    text-transform: none;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-1c10-4 {
    margin-top: 18px;
    margin-right: 698px;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-1c10-5 {
    margin-top: 60px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-1c10-6 {
    grid-template-columns:
      calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px)
      calc(33.3333% - 14.6667px);
    grid-gap: 22px 22px;
    min-height: 461px;
  }
  .u-block-1c10-8 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 30px;
  }
  .u-block-1c10-9 {
    height: 301px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-1c10-10 {
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-1c10-11 {
    font-size: 0.875rem;
    margin-top: 15px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-1c10-12 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-1c10-14 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 30px;
  }
  .u-block-1c10-15 {
    height: 301px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-1c10-16 {
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-1c10-17 {
    font-size: 0.875rem;
    margin-top: 15px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-1c10-18 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-1c10-20 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 30px;
  }
  .u-block-1c10-21 {
    height: 301px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-1c10-22 {
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-1c10-23 {
    font-size: 0.875rem;
    margin-top: 15px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-1c10-24 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
}
@media (max-width: 0px) {
  .u-block-1c10-2 {
    min-height: 500px;
  }
  .u-block-1c10-3 {
    font-weight: 300;
    font-size: 3rem;
    letter-spacing: 2px;
    text-transform: none;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-1c10-4 {
    margin-top: 18px;
    margin-right: 498px;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-1c10-5 {
    margin-top: 60px;
    margin-bottom: 0;
  }
  .u-block-1c10-6 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 14.6667px));
    grid-gap: 22px 22px;
    min-height: 380px;
  }
  .u-block-1c10-8 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 30px;
  }
  .u-block-1c10-9 {
    height: 301px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .u-block-1c10-10 {
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-1c10-11 {
    font-size: 0.875rem;
    margin-top: 15px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-1c10-12 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-1c10-14 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 30px;
  }
  .u-block-1c10-15 {
    height: 301px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .u-block-1c10-16 {
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-1c10-17 {
    font-size: 0.875rem;
    margin-top: 15px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-1c10-18 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-1c10-20 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 30px;
  }
  .u-block-1c10-21 {
    height: 301px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .u-block-1c10-22 {
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-1c10-23 {
    font-size: 0.875rem;
    margin-top: 15px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-1c10-24 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
}
@media (max-width: 0px) {
  .u-block-1c10-2 {
    min-height: 500px;
  }
  .u-block-1c10-3 {
    font-weight: 300;
    font-size: 3rem;
    letter-spacing: 2px;
    text-transform: none;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-1c10-4 {
    margin-top: 18px;
    margin-right: 278px;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-1c10-5 {
    margin-top: 60px;
    margin-bottom: 0;
  }
  .u-block-1c10-6 {
    grid-template-columns: repeat(2, calc(50% - 11.000025px));
    grid-gap: 22px 22px;
    min-height: 873px;
  }
  .u-block-1c10-8 {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
  }
  .u-block-1c10-9 {
    height: 301px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .u-block-1c10-10 {
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-1c10-11 {
    font-size: 0.875rem;
    margin-top: 15px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-1c10-12 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-1c10-14 {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
  }
  .u-block-1c10-15 {
    height: 301px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .u-block-1c10-16 {
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-1c10-17 {
    font-size: 0.875rem;
    margin-top: 15px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-1c10-18 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-1c10-20 {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
  }
  .u-block-1c10-21 {
    height: 301px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .u-block-1c10-22 {
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-1c10-23 {
    font-size: 0.875rem;
    margin-top: 15px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-1c10-24 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
}
@media (max-width: 0px) {
  .u-block-1c10-2 {
    min-height: 500px;
  }
  .u-block-1c10-3 {
    font-weight: 300;
    font-size: 3rem;
    letter-spacing: 2px;
    text-transform: none;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-1c10-4 {
    margin-top: 18px;
    margin-right: 98px;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-1c10-5 {
    margin-top: 60px;
    margin-bottom: 0;
  }
  .u-block-1c10-6 {
    grid-template-columns: 100%;
    grid-gap: 22px 22px;
    min-height: 873px;
  }
  .u-block-1c10-8 {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
  }
  .u-block-1c10-9 {
    height: 301px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .u-block-1c10-10 {
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-1c10-11 {
    font-size: 0.875rem;
    margin-top: 15px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-1c10-12 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-1c10-14 {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
  }
  .u-block-1c10-15 {
    height: 301px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .u-block-1c10-16 {
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-1c10-17 {
    font-size: 0.875rem;
    margin-top: 15px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-1c10-18 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-1c10-20 {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
  }
  .u-block-1c10-21 {
    height: 301px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .u-block-1c10-22 {
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-1c10-23 {
    font-size: 0.875rem;
    margin-top: 15px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-1c10-24 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
}
@media (max-width: 0px) {
  .u-block-1c10-2 {
    min-height: 500px;
  }
  .u-block-1c10-3 {
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: none;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-1c10-4 {
    margin-top: 18px;
    margin-right: 0px;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-1c10-5 {
    margin-top: 60px;
    margin-bottom: 0;
  }
  .u-block-1c10-6 {
    grid-template-columns: 100%;
    grid-gap: 22px 22px;
    min-height: 873px;
  }
  .u-block-1c10-8 {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
  }
  .u-block-1c10-9 {
    height: 301px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .u-block-1c10-10 {
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-1c10-11 {
    font-size: 0.875rem;
    margin-top: 15px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-1c10-12 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-1c10-14 {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
  }
  .u-block-1c10-15 {
    height: 301px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .u-block-1c10-16 {
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-1c10-17 {
    font-size: 0.875rem;
    margin-top: 15px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-1c10-18 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-1c10-20 {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
  }
  .u-block-1c10-21 {
    height: 301px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .u-block-1c10-22 {
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-1c10-23 {
    font-size: 0.875rem;
    margin-top: 15px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-1c10-24 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
}

.clickable {
  cursor: pointer;
}

.ko-font-1 {
  font-family: concretoKosama;
}

.ko-font-2 {
  font-family: dreamsKosama;
}

.categoria-grid {
  grid-template-columns: 1fr !important;
  grid-gap: 22px 22px;
  min-height: 461px;

  @media only screen and (min-width: 600px) and (max-width: 1000px) {
    grid-template-columns: 1fr 1fr !important;
  }

  @media only screen and (min-width: 1000px) {
    grid-template-columns: 1fr 1fr 1fr !important;
  }
}

.img-proyecto{
  filter: grayscale(1);
  transition: all 0.2s ease;
  &:hover{
    filter: grayscale(0);
  }
}

/* Fuentes */
@font-face {
  font-family: dreamsKosama;
  src: url("/assets/fonts/viner-hand-itc.ttf");
}

@font-face {
  font-family: concretoKosama;
  src: url("/assets/fonts/concreto.ttf");
}

$util-font-sizes: 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 32, 40, 48;

@each $util-font-size in $util-font-sizes {
  .font-size-#{$util-font-size} {
    font-size: $util-font-size * 1px !important;
  }
}

.uppercase {
  text-transform: uppercase !important;
}

.lowercase {
  text-transform: lowercase !important;
}
